.container {
 
  height: 100%;
  color: white;
  padding: 10px;
  overflow-y: auto;
}




.container hr{
 border-width: 0.25px;
 border-color: #80808017;

}

.container ul {
    /* margin: 0; */
    margin-left: 0px;
    padding-left: 0px;
   
}

.article {
  padding-left: 10px;
  margin-bottom: 5px;
}

.container a {
  font-size: 1.4rem;
}
